.mobilePart {
  display: flex;
  justify-content: center;
  background-color: #850303;
}
.mobile {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.mobileText {
  color: #faf7f2;
  font-family: "Russo One", sans-serif;
  letter-spacing: 5px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
}
h5 {
  color: #faf7f2;
  font-family: "Russo One", sans-serif;
  letter-spacing: 10px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 3rem;
}
.formPart {
  background-color: #faf7f2;
  max-width: 70%;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.formPart {
  display: flex;
  flex-direction: column;
}
h3 {
  color: black;
  margin: 1rem;
  font-family: "Francois One", sans-serif;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
}
.formHeading {
  color: #000000;
  margin-top: 15px;
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 2px 3px #faf7f2;
  margin-bottom: 5rem;
}
.order_button {
  background-color: rgb(206, 40, 41);
  padding: 30px;
  width: 480px;
  border-radius: 5px;
  font-family: "Francois One", sans-serif;
  font-size: 1.6rem;
  transition: 0.7s;
  border: 1px solid #000000;
  margin-top: 1%;
  color: #000000;
  margin-top: 5rem;
}
.order_button:hover {
  background-color: #101010;
  color: #eedada;
}
.order_button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.ingredientsContent {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}
.ingredients {
  width: 50rem;
  display: flex;
  flex-direction: column;
}
label {
  padding: 15px;
}
.check {
  width: 2rem;
  height: 2rem;
}
.formContent {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Francois One", sans-serif;
  font-size: 1.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact input {
  width: 46rem;
  padding: 1rem;
  border-radius: 5px;
}
.order_note input {
  width: 46rem;
  padding: 1rem;
  border-radius: 5px;
}
.quantity input {
  width: 46rem;
  padding: 1rem;
  border-radius: 5px;
}
p {
  color: #850303;
  padding-top: 1rem;
}
.dough_size {
  width: 46rem;
  display: flex;
  flex-direction: column;
}
.radio {
  display: flex;
  width: 46rem;
  flex-direction: row;
}
.pizza_size {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.dough_size {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
input[type="radio"] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

select option {
  font-family: "Francois One", sans-serif;
  font-size: 1.5rem;
  padding: 15px;
}
.pizza_type {
  display: flex;
  flex-direction: row;
}
.select {
  width: 410px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  font-size: 1.5rem;
  padding: 5px;
  font-family: "Francois One", sans-serif;
}
